html 
    head
        link(rel='stylesheet' href='../public/css/style.css')
    body 
        header.header-container
            img#reading-girl(src='../public/imgs/reading.svg' alt='reading-girl')
            .header-top
                span#logout Log Out
                img(src='../public/imgs/female-icon.svg' alt='female-icon')
                .header-welcome
                    h1#welcome= "Welcome to " + user + "'s Booklist"  
                    h3#email= email + " | Last logged in: " + lastLoggedIn
            .header-bottom
                .search-bar
                    img(src='../public/imgs/magnifier.svg' alt='magnifier')
                    input(type='text' placeholder='Search for a book to read')
        section.add-book
            img(src='../public/imgs/plus.svg' alt='add-book')
            input#newbook-title(type='text' name='newbook' placeholder='Add a Book')
        
        .main-container
            section.books-to-read
                h2 Books To Read
                ul
                    include partials/booklist.pug
            section.completed
                h2 Finished Reading
                ul 
                    include partials/finishedBooklist.pug 
        footer.footer Copyright &amp;copy 
            span#date
        script(src='../public/js/home.js')
