<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS stylesheet  -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header class="header-container">
        <img src="../public/imgs/reading.svg" alt="reading-girl" id="reading-girl">
        <div class="header-top">
            <img src="../public/imgs/female-icon.svg" alt="female-icon">
            <div class="header-welcome">
                <h1 id="welcome">Welcome to Alice's Booklist</h1>
                <h3 id="email">iamalice123@yahoo.com</h3>
            </div>
        </div>
        <div class="header-bottom">
            <div class="search-bar">
                <img src="../public/imgs/magnifier.svg" alt="magnifier">
                <input type="text" placeholder="Search for a book to read">
            </div>
        </div>
    </header>
    
    <section class="add-book">
        <img src="../public/imgs/plus.svg" alt="add-book">
        <input id="newbook-title" type="text" placeholder="Add a Book">
    </section>

    <div class="main-container">
        <section class="books-to-read">
            <h2>Books To Read</h2>
            <ul>
                <li class="to-read">
                    <div class="book-title-bar">
                        <button class="book-toggle-btn"></button>
                        <h4 class="book-title">The Ethics of Technology</h4>
                        <img class="star-btn" src="../public/imgs/star.svg"></img>
                    </div>
                    <div class="book-desc-hidden">
                        <p id="content"> FIRST --- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero repudiandae corrupti id aperiam rem molestiae quasi numquam. Doloremque sequi exercitationem, est facere temporibus labore nesciunt aspernatur similique voluptates earum odit.</p>
                    </div>
                </li>
                <li class="to-read">
                    <div class="book-title-bar">
                        <button class="book-toggle-btn"></button>
                        <h4 class="book-title">Heidegger's Being and Time</h4>
                        <img class="star-btn" src="../public/imgs/star.svg"></img>
                    </div>
                    <div class="book-desc-hidden">
                        <p id="content"> Second --- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero repudiandae corrupti id aperiam rem molestiae quasi numquam. Doloremque sequi exercitationem, est facere temporibus labore nesciunt aspernatur similique voluptates earum odit.</p>
                    </div>
                </li>
            </ul>

        </section>
        <section class="completed">
            <h2>Finished Reading</h2>
            <ul>
                <li class="finished">
                    <div class="book-title-bar">
                        <button class="book-toggle-btn"></button>
                        <h4 class="book-title">The Second Sex</h4>
                        <img class="star-btn" src="../public/imgs/star.svg"></img>
                    </div>
                    <div class="book-desc-hidden">
                        <p> Third --- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero repudiandae corrupti id aperiam rem molestiae quasi numquam. Doloremque sequi exercitationem, est facere temporibus labore nesciunt aspernatur similique voluptates earum odit.</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>

    <footer class="footer">
        Copyright &copy <span id="date"></span> 
    </footer>
    <script src="../public/js/home.js"></script>
</body>
</html>